body {
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  

  .navbar {
    display: flex;
    justify-content: center; /* Align buttons to the right */
    background-color: #000000;
    padding: 50px;
  }
  

  .navbar button {
    background-color: #774caf; /* Green background */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    margin: 0 150px;
    cursor: pointer;
    font-size: 16px;
  }

  #section1 {
    display: flex;
    justify-content: center;
    background-color: #d39ec1;
  
  }

 
  #section1 {
    background-color: #d39ec1;
    height: 60vh;
    z-index: 0;
    padding-bottom: 200px;
   
  }


  .form1  {
   background-color: #000000;
   margin: 40px 40px 0px 40px;
   
   
  }
  .form2  {
    background-color: #fac3c3;
    margin: 40px 40px 0px 40px;
    
    
   }

  .holder {
  
    height: 1px;
    color: red;
    z-index: 0;
    margin: 10px;
    padding: 50px 50px 0px 50px;
   
  }
  input {
    padding: 10px;
  }

  h1 {
    color: white;
    margin-left: 60px;

  }



  #dashBoard{

    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100vw;  
    height: 100vh; 
    margin: 0;     
    padding: 0;  
  }

  #left{
    background-color: #774caf;
    height: 40vh;
    width: 20vw;
    align-self: center;
    margin: 50px;
    border-radius: 10px;
  }
  #right{
    background-color: #433653;
    height: 40vh;
    width: 20vw;
    align-self: center;
    margin: 50px;
    border-radius: 10px;
  }