/* Button Styles */
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FAA6FF;
}

header .container {
  width: 100vw;
  height: 10vh;
  background-color: #FAA6FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px 90px 0px 60px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: #0F1020;
}

nav ul li {
  margin: 0 15px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

#btnContainer {
  display: flex;
  gap: 30px;
}

section .container {
  background-color: white;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  padding: 200px 75px;
  position: relative;
}

table, th, td {
  border: 1px solid #0F1020;
  border-collapse: collapse;
  color: #EFC3F5;
  font-family: "Hind Guntur", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0F1020;
}

th, td {
  padding: 10px;
}

#pop-up {
  position: fixed;
  width: 500px;
  height: 500px;
  background-color: #EFC3F5;
  z-index: 2;
  left: 35%;
  bottom: 10%;
  border-radius: 10px;
  padding: 10px;
  display: none;
}

#pop-up form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 50px 0px;
  margin: 40px;
}

#pop-up input {
  padding: 10px 5px;
}

#reg-btn {
  position: absolute;
  bottom: 2.5%;
  left: 13%;
  padding: 20px 50px !important;
  border-radius: 200px !important;
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}
#reg-btn:hover {
  background-color: var(--hover-color);
}

#close-btn {
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: rgb(151, 95, 255);
  color: white;
  box-shadow: 0px 10px 10px rgb(210, 187, 253) inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(124, 54, 255) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 12%;
  left: 55%;
}
#close-btn:hover {
  animation: jello-horizontal 0.9s both;
}

#btn-reg-home {
  padding: 10px 20px;
  border-radius: 20px;
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}
#btn-reg-home:hover {
  background-color: var(--hover-color);
}/*# sourceMappingURL=main.css.map */